


.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    
  }

  
  .list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 10px;
    margin: 1vh auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    align-content: center;
  }
  .list li.plus {
    border-right: 5px solid darkslategray;
    border-left: 5px solid darkslategray;
  }
  
  .list li.plus:hover {
    /* border-right: 5px solid ; */
    background-color: darkslategray;
    color: #e4e5e6
  }
  
  .list li.minus {
    border-right: 5px solid red;
    border-left: 5px solid red;
  }
  
  .list li.minus:hover {
    border-right: 5px solid red;
    background-color: red;
    color: #efe5e6;
  }
  .delete-btn {
    cursor: pointer;
    background-color: #8a6a66;
    border: 0;
    margin: 0;
    line-height: normal;
    color: #fff;
    display: none;
  }
  .list li:hover .delete-btn {
    display: block;
    align-self: center;
  }  
  @media only screen and (max-width: 768px){
    .list li{
        width: 85%;
    }
    .delete-btn{
        display: block;
    }
}